<span style="float:right;font-size:10px">
<% for lang in languages %>
  <a href=""><img src="/images/flags/png/<%= lang[:lang] %>.png" title="<%= lang[:resource] %>" alt="<%= lang[:resource] %>" border="0" /></a>
<% end %>
</span>
